html,
body {
	height: 100%;
  margin: 0;
}

h1,
h3,
p {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 3.8em;
	font-weight: 100;
}

p {
	font-size: 1.5em;
	font-weight: 100;
}

#about {
	/*background-color: rgba(52, 73, 94, 1.0);*/
	background-color: rgba(219, 215, 213,1.0);
	height: 500px;
}

#about > div {
	padding-top: 40px;
}

#about > div > p {
	color: rgba(236, 240, 241,1.0);
	font-weight: 100;
}

#about > div > a {
	font-size: 3.5em;
}

#frontDoor {
	text-align: center;
}

/* Uppermost div on landing page */

#brand {
  background: linear-gradient(90deg, rgb(84, 106, 125), rgb(37, 54, 72));
  /*background: rgba(52, 73, 94, 1.0);*/
  color: rgba(236, 240, 241,1.0);
}

#welcomeTitle {
	padding-top: 120px;
	padding-bottom: 20px;
	text-align: center;
}

#welcomeMessage {
	text-align: center;
	padding-bottom: 70px;
	letter-spacing: 1.5px;
}

/* Navigation div on landing page */

#navigation {
	background-color: rgba(219, 215, 213,1.0);
	text-align: center;
	padding-top: 85px;
}

#navigation > div > a {
	font-size: 3.5em;
	font-weight: 100;
	letter-spacing: 7px;
	color: rgba(69, 90, 100,1.0)
}
