html,
body {
	height: 100%;
  margin: 0;
}

h1,
h3,
p {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 3.8em;
	font-weight: 100;
}

p {
	font-size: 1.5em;
	font-weight: 100;
}

#about > div > p {
	color: #2980b9;
	font-weight: 300;
}

#about > div {
	padding-top: 40px;
}

#about > div > a {
	font-size: 3.5em;
}

#brand {
  background: #34495e;
  color: #dce0e1;
}

#frontDoor {
	text-align: center;
}

#welcomeTitle {
	padding-top: 120px;
	padding-bottom: 20px;
	text-align: center;
}

#welcomeMessage {
	text-align: center;
	padding-bottom: 70px;
	letter-spacing: 1.5px;
}

#about {
	background-color: #cdd3d7;
	height: 500px;
}

.navbar {
	background-color: #a3a3a3;
}
